.info {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    height: 80%;
}
.info__name {
font-size: 3rem;
text-align: center;
letter-spacing: 1.5px;
color: rgb(3, 25, 43);
margin: 10px;
}
.info__desc h6 {
    margin: 20px;
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    color: rgb(131, 131, 134);
}
.info__desc p {
    text-align: center;
    font-weight: 500;
    color: rgb(47, 47, 48);
    letter-spacing: 1px;
    font-size: 1.4rem;
}