@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');

.header {
  display: flex;
  padding: 25px;
  background-color: red;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  background: rgb(2, 42, 75);
  position: sticky;
  top: 10px;
}
.header__search > input {
  font-size: 1.3rem;
  padding: 5px;
  width: 450px;
  border: none;
  outline: none;
  border-radius: 10px;
  letter-spacing: 1px;
}
.header__account {
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
}
.header__account > a {
  color: white;
  font-size: 1.3rem;
  margin-right: 15px;
  letter-spacing: 1px;
  text-decoration: none;
}
.header__account > a:hover {
    text-decoration: underline;
}
.header__logo {
    font-family: 'Licorice', cursive;
}
.header__logo > a {
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
}